*.iml
.gradle
/local.properties
/example/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/example/build
/captures
/example/captures
.externalNativeBuild
.cxx
local.properties
PumpPrivateConfig.java

# Ignore Gradle build output directory
build
