package com.jwoglom.pumpx2.pump.messages.request;

import static com.jwoglom.pumpx2.pump.messages.MessageTester.assertHexEquals;

import com.jwoglom.pumpx2.pump.messages.MessageTester;
import com.jwoglom.pumpx2.pump.bluetooth.CharacteristicUUID;
import com.jwoglom.pumpx2.pump.messages.request.{{cat}}.{{requestName}};

import org.apache.commons.codec.DecoderException;
import org.junit.Test;

public class {{requestName}}Test {
    @Test
    public void test{{requestName}}() throws DecoderException {
        // empty cargo
        {{requestName}} expected = new {{requestName}}();

        {{requestName}} parsedReq = ({{requestName}}) MessageTester.test(
                "xxxx",
                2,
                1,
                CharacteristicUUID.CURRENT_STATUS_CHARACTERISTICS,
                expected
        );

        assertHexEquals(expected.getCargo(), parsedReq.getCargo());
    }
}
