name: Code Coverage

on:
  workflow_dispatch: {}
#  push:
#    branches: [ "main", "dev" ]
#  pull_request:
#    branches: [ "main", "dev" ]

jobs:
  test:
    runs-on: macOS-13

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build debug
        run: ./gradlew build jacocoTestReport assembleAndroidTest
      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: ./gradlew connectedCheck
      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            messages/build/reports/*
            androidLib/build/reports/*
            cliparser/build/reports/*
            sampleapp/build/reports/*
            shared/build/reports/*
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}